img {
  /* Image Size Changes */
  &[alt~="1/4"] {
    width: 25%;
    margin-left: 37.5%;
  }
  &[alt~="1/3"] {
    width: 33.3%;
    margin-left: 33.3%;
  }
  &[alt~="1/2"] {
    width: 50%;
    margin-left: 25%;
  }
  &[alt~="2/3"] {
    width: 66.6%;
    margin-left: 16.6%;
  }
  &[alt~="3/4"] {
    width: 75%;
    margin-left: 12.5%;
  }

  /* Image Blurring */
  &[alt~="blur"] {
    filter: blur(6px);

    &:hover {
      animation-name: unblur;
      animation-duration: 0.25s;
      filter: blur(0px);
    }
  }

  /* Image Border */
  &[alt~="thin-border"] {
    border: 1px solid var(--text-accent);
  }

  /* Misc */
  &[alt~="mirror"] {
    transform: scaleX(-1);
  }
  &[alt~="no-margin"] {
    margin-left: 0 !important;
  }
  &[alt~="rounded"] {
    border-radius: 0.5rem;
  }
  &[alt~="bounce"] {
    animation-name: bounce;
    animation-duration: 1s;
    margin-left: 0;
    animation-iteration-count: infinite;
  }
}

@keyframes unblur {
  0% {
    filter: blur(6px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes bounce {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 100px;
  }
  100% {
    margin-left: 0px;
  }
}
